.space{
    margin-top: 20px;
}
.cblack{
    color:black;
    font-size: 13px;
}
.cblack:hover{
    color:#00B900;
    text-decoration: none;
}
.margin-1{
    margin-left: 30px;
}
.cgray{
    color:rgb(230, 230, 230);
    font-size: 14px;
}
.vl {
    border-right: 1.5px solid rgb(211,211,211);
    height: 1000px;
    width: 150px;
}
#line{
    float: left;
    margin: 25px 0 0 30px;
    font-family: 'Dosis', sans-serif;
}


#prestick{
    border-right: 1.5px solid rgb(211,211,211);
}


.row1{
    background-color: lightslategray;

}
.circle{position: absolute;
    left: 195px;
   padding-right: 35px;
   height: 35px;
    border-radius: 15px;
    bottom:10px;
    
    background-color:rgb(43, 42, 42);;
    border: solid 0.7px rgb(35,35,35);
   font-size: 14px;
   text-align:left;
   color:white;
}

.fa {
    position: absolute;

    width: 205px;
    text-align: right;
    pointer-events: none;
    color: rgb(100, 100, 100);
}
.right{
    position: absolute;
    width: 1000px;
    left:1100px;
}
.sl{
    top:-18px;
    border-right: 0.5px solid rgb(100,100,100);
    height: 13px;
    width: 75px;
}
.colorg{
    color:rgb(100, 100, 100);
    font-size: 13px;
}
.colorg:hover{
    color: rgb(100, 100, 100);
   
}

.fixp{
position: absolute;
top:-9px;

left:80px;
}
#fixp2{position: absolute;
  top: -4px;
left:30px;

}
#fixp3{
    position: absolute;
    top:-8px;
}