.space{
    margin-top: 20px;
}
.cblack{
    color:black;
    font-size: 13px;
}
.cblack:hover{
    color:#00B900;
    text-decoration: none;
}
.margin-1{
    margin-left: 30px;
}
.cgray{
    color:rgb(230, 230, 230);
    font-size: 14px;
}
.vl {
    border-right: 1.5px solid rgb(211,211,211);
    height: 1000px;
    width: 150px;
}
#line{
    float: left;
    margin: 25px 0 0 30px;
    font-family: 'Dosis', sans-serif;
}


#prestick{
    border-right: 1px solid rgb(211,211,211);
}


.row1{
    background-color: lightslategray;

}
.circle{
    border-radius: 15px;
    padding: 5px;
    background-color:rgb(43, 42, 42);;
    border: solid 0.5px rgb(211,211,211);
   
}

.has-search .form-control {
    padding-left: 2.375rem;
}
